
.caption {
    top: 35%;
}

.section {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
h1{
    /* color: #e96b56; */
}
.caro {
    position: absolute;
    z-index: 100;
}